body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.main {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0 20%;
    flex-direction: column;
}
.table-container {
    display: flex;
    align-items: stretch; 
    padding: 0; 
}
.table-container table {
    cellpadding: 0;
    cellspacing: 0;
    overflow: auto;

    text-align: center;

    width: 100%;
    border: 2px solid #0056b3; 
    border-radius: 1%; 
    border-collapse: collapse;
}
.table-title {
    border-bottom: 2px solid #0056b3;
    font-size: medium;
    cursor: default; 
    padding: 0 5% 5% 5%;
}
tbody tr {
    flex: 1; 
    padding: 0;
    border: 2px solid #0056b3;
    padding: 0 2%;
}
thead {
    cursor: default;
}
tbody tr {
    cursor: pointer; 
}
tbody tr:hover {
    opacity: 70%;
}
.sort-button {
    align-self: start;
    margin-top: 2%; 
}
button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
}
button:hover {
    background-color: #0056b3; 
}
.navigation {
    margin: 0 20%;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:100%;

}
.path-container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-self: start;
    justify-content: start;
}
.path-container h2 {
    margin-right: 5%;
}
.sep {
    margin: 0 0.6%;
    font-size: 150%;
}
.path {
    display: flex;
    background-color: #d2dadb; 
    border-radius: 5px; 
    padding: 2% 2%;
    margin: 0;
    cursor: pointer;
}
.path font:hover {
    opacity: 60%;
}